import(jmvcore)
import(R6)
importFrom(genetics, genotype, allele, HWE.exact, LD)
importFrom(haplo.stats, setupGeno, haplo.em, haplo.glm, haplo.glm.control)
importFrom(nnet, multinom)
export(snpStats, snpPGS)
